<html>
  <head>
    <title>Drag &amp; Drop Tacos</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  
  <body>
    <div id="drop_target">
      
    </div>
  </body>
</html>

<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-1.4.3.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/jquery.dnduploader.js"></script>
<script type="text/javascript" charset="utf-8">
  $("#drop_target").dndUploader({
    url : "/"
  });
</script>